@import url('./variables.css');

.calculator {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--spacing);
  background-color: var(--color-1);
  border-radius: var(--border-radius);
  text-align: center;
}

.calculator h1 {
  font-size: var(--heading-font-size);
  margin-bottom: var(--spacing);
  color: var(--primary-color);
}

form {
  max-width: 600px;
  margin: auto;
  text-align: left;
}

form label,
form input,
form select {
  display: block;
  width: 100%;
  margin-bottom: var(--spacing);
  font-size: 1rem;
}

form input,
form select {
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

form input[type="radio"] {
  display: inline;
  width: auto;
}

button[type="submit"],
button[type="reset"] {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  margin-right: var(--spacing);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
}

#price-output {
  margin-top: var(--spacing);
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}




