
:root {
	--color-1: #fff7e5;
	--color-2: #f1e3e0;
	--color-3: #b887a4;
	--color-4: #efe2df;
	--color-5: #faf2e1;

	--bg-color: var(--color-1);
	--text-color: #2a2a2a;
	--primary-color: var(--color-3);
	--accent-color: var(--color-2);

	--border-radius: 8px;
	--spacing: 1rem;
	--base-font-size: 16px;
	--heading-font-size: 2rem;
	--max-width: 1200px;
}